* {
  margin         : 0;
  padding        : 0;
  outline        : none;
  box-sizing     : border-box;
  text-decoration: none;
}

header {
  padding   : 10px;
  background: #eee;
  text-align: center;
}

nav a {
  margin: 0 5px;
  color : #555;
}

nav a:hover {
  color: #111;
}


table {
  margin         : 0 auto;
  margin-bottom  : 50px;
  padding        : 5px;
  border         : 1px solid black;
  border-collapse: collapse;
  width          : 500px;
}


td,
th {
  border : 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top     : 12px;
  padding-bottom  : 12px;
  text-align      : center;
  background-color: #04AA6D;
  color           : white;
}

.inputField {
  display: block;
  margin : 20px auto;
  padding: 8px 6px;
}

.dataContainer {
  margin         : 10px auto;
  padding        : 10px;
  max-width      : 400px;
  text-align     : center;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.userInfo {
  padding        : 3px;
  margin         : 3px;
  display        : flex;
  justify-content: center;
  border         : 1px solid black;
  border-radius  : 3px;
}